@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import "compass/css3";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #313338 !important;
}

/*nav Bar*/

.myCenter {
    margin-left: 10px;
    margin-top: 5px;
}

.wrapper {
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        width: 269px;
        height: 100%;
        background: #292929;
        padding: 30px 0px;
        position: fixed;
    }

        .wrapper .sidebar h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .wrapper .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid #bdb8d7;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
        }

            .wrapper .sidebar ul li a {
                color: #bdb8d7;
                display: block;
            }

                .wrapper .sidebar ul li a .fas {
                    width: 25px;
                }

            .wrapper .sidebar ul li:hover {
                background-color: #393939;
            }

                .wrapper .sidebar ul li:hover a {
                    color: #fff;
                }

        .wrapper .sidebar .social_media {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

            .wrapper .sidebar .social_media a {
                display: block;
                width: 40px;
                background: #292929;
                height: 40px;
                line-height: 45px;
                text-align: center;
                margin: 0 5px;
                color: #bdb8d7;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

    .wrapper .main_content {
        /*width: 100%;*/
        margin-left: 260px;
    }

        .wrapper .main_content .info {
            margin: 20px;
            color: #717171;
            line-height: 25px;
        }

            .wrapper .main_content .info div {
                margin-bottom: 20px;
            }

@media (max-height: 500px) {
    .social_media {
        display: none !important;
    }
}

/*Saitama IMG*/

.kawaiImg {
    position: absolute;
    height: 910px;
    width: 35%;
}

    .kawaiImg div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        margin: auto;
    }

    .kawaiImg img {
        width: 245px;
        height: 200px;
        object-fit: cover;
    }

.overlay-text-bottom {
    position: relative;
    bottom: -600px;
    text-align: center;
    color: #ffffff !important;
}

/*header faded linear gradient*/

.header {
    height: 200px;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    color: #fff;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-left: 260px;
}

    .header img {
        width: 100%; /* Make the image fill the container width */
        height: auto; /* Maintain the image's aspect ratio */
        filter: blur(3px); /* Add blur effect to the image */
    }

    .header::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
        filter: blur(3px); /* Adjust the blur effect as needed */
    }

/*Card Design*/

.cards-local {
    /*    display: grid;*/
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.card_image {
    height: calc(13*1.2rem);
    padding: 1.2rem 1.2rem 0;
    position: relative;
}

    .card_image:before,
    .card_image:after {
        content: "";
        position: absolute;
        width: 20px;
        left: 60%;
        top: 0;
        height: 45px;
        background: #e6e6e6b8;
        transform: rotate(45deg);
    }

    .card_image:after {
        transform: rotate(-45deg);
        top: auto;
        bottom: -22px;
        left: 40%;
    }

    .card_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.cards_item {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card-local {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(#5e383800 0 calc(1.2rem - 1px),#646464 0 1.2rem) right bottom /100% 100%,linear-gradient(#ffffff 0 0) 30px 0/2px 100% #3a3a3a;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
    height: 700px;
}

.card_content {
    padding: 1.2rem;
}

h2.card_title, p {
    margin: 1.2rem 0;
}

h2.card_title {
    font-size: 1.3em;
}

body {
    font-family: monospace;
    background: #eee;
}

html {
    font-size: 15px;
}

/*BaseRandom*/
.ImageBase {
    width: 18%;
    height: 100%;
    object-fit: cover;
}

    .ImageBase img {
        position: relative;
        top: 20px;
        left: 1200px;
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
    }

/*Card*/
.card-content {
    position: relative;
    top: -416px;
    width: 70%;
    left: 20px;
    color: #dfae3cc7;
}