@model JourneyJoy.Models.LogInResponseModel

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Hello @Session["UserName"] !</h6>
                    <fh2>Welcome</fh2>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .inmiddle {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
    }

    input:disabled {
        background: #dddddd !important;
    }

    input:enabled {
        background: none !important;
    }
</style>
<div class="category-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu inmiddle">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-01.png" alt=""><h4>Profile</h4></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Bookings</h4></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="~/Content/Assets/images/search-icon-01.png" alt=""><h4>@Session["UserName"] Profile</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        @*<button id="updateProfileButton"><i class="fa fa-plus"></i> Update Profile</button>*@
                                                                        <a href="#" id="updateProfileButton"><i class="fa fa-plus"></i> Update Profile</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <div id="map">
                                                                        <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-9 align-self-center">
                                                                    @using (Html.BeginForm("UserLogin", "LogInRegister", FormMethod.Post, new { @Id = "contact" }))
                                                                    {
                                                                        @Html.AntiForgeryToken();
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="Username" id="Username" placeholder="Username" autocomplete="on" required disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="email" name="Email" id="Email" placeholder="Email" autocomplete="on" required disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    <input type="text" name="CurrentAddress" id="MobileNumber" placeholder="Your Mobilenumber" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="Gender" id="Gender" placeholder="Your Gender" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="Title" id="Title" placeholder="Your Title" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="Country" id="Country" placeholder="Your Country" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <fieldset>
                                                                                    <input type="text" name="City" id="City" placeholder="Your City" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    <input type="text" name="DriverLicenceNumber" id="DriverLicenceNumber" placeholder="Your DriverLicenceNumber" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    <input type="text" name="Bio" id="Bio" placeholder="Your Bio" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    <input type="text" name="ProfileImage" id="ProfileImage" placeholder="Your ProfileImage" required="" disabled>
                                                                                </fieldset>
                                                                            </div>
                                                                            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                                                                                <fieldset>
                                                                                    <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane"></i> Update Profile</button>
                                                                                </fieldset>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="assets/images/search-icon-02.png" alt=""><h4>Food &amp; Life</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description for Food and Life</h4>
                                                                    <p>Plot Listing template is a responsive website layout that included four HTML pages. Please tell your friends about TemplateMo website. You can download and apply this template for your dynamic CMS websites.</p>
                                                                    <br>
                                                                    <p>
                                                                        <strong>Did you know?</strong>
                                                                        <br>You can get the best free HTML templates on Too CSS blog. Visit the blog pages and explore fresh and latest website templates.
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 124 Listings &amp; 84 Sales<br>This Month: 1,040 Listings &amp; 720 Sales<br>This Year: 10,640 Listings &amp; 9,600 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="assets/images/search-icon-03.png" alt=""><h4>Cars</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description about cars</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 800 Listings &amp; 400 Sales<br>This Month: 1,600 Listings &amp; 1,200 Sales<br>This Year: 14,000 Listings &amp; 12,000 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info. about cars</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form-submit').hide();
        });

        document.getElementById("updateProfileButton").addEventListener("click", function () {
            event.preventDefault(); // Prevent the default action (navigating to the "#" anchor)
            var inputField = document.getElementById("Username");
            var inputField2 = document.getElementById("Email");
            var inputField3 = document.getElementById("MobileNumber");
            var inputField4 = document.getElementById("Gender");
            var inputField5 = document.getElementById("Title");
            var inputField7 = document.getElementById("ProfileImage");
            var inputField8 = document.getElementById("Bio");
            var inputField9 = document.getElementById("DriverLicenceNumber");
            var inputField10 = document.getElementById("Country");
            var inputField11 = document.getElementById("City");
            var inputField12 = document.getElementById("CurrentAddress");
            inputField.disabled = !inputField.disabled;
            inputField2.disabled = !inputField2.disabled;
            inputField3.disabled = !inputField3.disabled;
            inputField4.disabled = !inputField4.disabled;
            inputField5.disabled = !inputField5.disabled;
            inputField7.disabled = !inputField7.disabled;
            inputField8.disabled = !inputField8.disabled;
            inputField9.disabled = !inputField9.disabled;
            inputField10.disabled = !inputField10.disabled;
            inputField11.disabled = !inputField11.disabled;
            inputField12.disabled = !inputField12.disabled;
            $('#form-submit').show();
        });
    </script>
}
