@model JourneyJoy.Models.LogInResponseModel

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<head>DashBoard</head>
<body>
    <header>
        <div class="container-fluid headerContainer">
            <nav class="navbar navbar-expand-lg navbar-dark row">
                <a alt="Home Link" class="navbar-brand col-lg-2 col-5" href="~/JourneyJoy.csproj"> 
                <img width="238" height="25" src="..." alt="JourneyJoy Logo"> </a>

                <div class="d-md-block d-lg-none">
                    <a class ="nav-link btn bgButton" href="..">
                        ::before
                        "Rent Vehicle"
                    </a>
                </div>
                <div><p>Here lies Burger Menu</p></div>
            </nav>
        </div>
    </header>
</body>


