
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Vehicle Categories</h6>
                    <h2>We have a wide range of vehicle categories for you</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular-categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Popular Categories</h2>
                    <h6>Check Them Out</h6>
                </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/bike.png" alt=""></span>
                                            Bike
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/van.png" alt=""></span>
                                            Van
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/car.png" alt=""></span>
                                            Cars
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/Bus.png" alt=""></span>
                                            Bus
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/scooter-icon.png" alt=""></span>
                                            Scooter
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 align-self-center">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>One Of The Most Trending Stuffs Right Now!</h4>
                                                            <p>Whether you prefer the raw power of a sportbike, the rugged versatility of an adventure bike, or the classic allure of a cruiser, we offer a range of motorbike options to suit your individual riding style and preferences. Choose from leading brands and models renowned for their agility, comfort, and handling capabilities.</p>
                                                            <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/bike.png" alt="Bike">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Spacious and Comfortable Interiors</h4>
                                                            <p>Experience the ultimate in comfort and convenience with our spacious van interiors, designed to accommodate passengers and cargo with ease. Whether you're transporting luggage, sports equipment, or large groups of passengers, our vans provide ample room to stretch out, relax, and enjoy the journey.</p>
                                                            <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Explore More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/van.png" alt="Van">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Best car rentals for your trips!</h4>
                                                            <p>Elevate your travel experience and make every moment count with our premium car rental service. Whether you're embarking on a romantic getaway, exploring scenic landscapes, or simply cruising in style, our luxurious cars provide the perfect combination of comfort, performance, and sophistication. Start planning your next journey with us and experience the ultimate in luxury travel.</p>
                                                            <div class="main-white-button"><a href="listing.html"><i class="fa fa-eye"></i> More Listing</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/car.png" alt="cars">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Experience Comfort and Convenience with Our Bus Rental Service</h4>
                                                            <p>Booking your bus rental is quick, easy, and convenient. Simply contact our friendly team to discuss your transportation needs, and we'll work with you to customize a rental package that fits your schedule, budget, and preferences. With flexible rental options and competitive rates, we make it effortless to arrange transportation for your group.</p>
                                                            <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/Bus.png" alt="Bus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Efficient and Eco-Friendly Mobility</h4>
                                                            <p>Our scooters are designed for efficiency and sustainability, offering eco-friendly transportation solutions that reduce carbon emissions and minimize environmental impact. With fuel-efficient engines and low emissions, our scooters provide a sustainable alternative for urban commuters, tourists, and leisure riders alike.</p>
                                                            <div class="main-white-button"><a rel="nofollow" href="https://templatemo.com/contact"><i class="fa fa-eye"></i> Read More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/scooter-icon.png" alt="Scooter">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>