
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Vehicle Categories</h6>
                    <h2>We have a wide range of vehicle categories for you</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular-categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Popular Categories</h2>
                    <h6>Check Them Out</h6>
                </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/bike.png" alt=""></span>
                                            Bike
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/van.png" alt=""></span>
                                            Van
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/car.png" alt=""></span>
                                            Cars
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/Bus.png" alt=""></span>
                                            Bus
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/scooter-icon.png" alt=""></span>
                                            Scooter
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 align-self-center">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>One Of The Most Trending Stuffs Right Now!</h4>
                                                            <p>Whether you prefer the raw power of a sportbike, the rugged versatility of an adventure bike, or the classic allure of a cruiser, we offer a range of motorbike options to suit your individual riding style and preferences. Choose from leading brands and models renowned for their agility, comfort, and handling capabilities.</p>
                                                            <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/bike.png" alt="Bike">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Spacious and Comfortable Interiors</h4>
                                                            <p>Experience the ultimate in comfort and convenience with our spacious van interiors, designed to accommodate passengers and cargo with ease. Whether you're transporting luggage, sports equipment, or large groups of passengers, our vans provide ample room to stretch out, relax, and enjoy the journey.</p>
                                                            <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Explore More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/van.png" alt="Van">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Best car rentals for your trips!</h4>
                                                            <p>Elevate your travel experience and make every moment count with our premium car rental service. Whether you're embarking on a romantic getaway, exploring scenic landscapes, or simply cruising in style, our luxurious cars provide the perfect combination of comfort, performance, and sophistication. Start planning your next journey with us and experience the ultimate in luxury travel.</p>
                                                            <div class="main-white-button"><a href="listing.html"><i class="fa fa-eye"></i> More Listing</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/car.png" alt="cars">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Experience Comfort and Convenience with Our Bus Rental Service</h4>
                                                            <p>Booking your bus rental is quick, easy, and convenient. Simply contact our friendly team to discuss your transportation needs, and we'll work with you to customize a rental package that fits your schedule, budget, and preferences. With flexible rental options and competitive rates, we make it effortless to arrange transportation for your group.</p>
                                                            <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Discover More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/Bus.png" alt="Bus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Efficient and Eco-Friendly Mobility</h4>
                                                            <p>Our scooters are designed for efficiency and sustainability, offering eco-friendly transportation solutions that reduce carbon emissions and minimize environmental impact. With fuel-efficient engines and low emissions, our scooters provide a sustainable alternative for urban commuters, tourists, and leisure riders alike.</p>
                                                            <div class="main-white-button"><a rel="nofollow" href="https://templatemo.com/contact"><i class="fa fa-eye"></i> Read More</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Content/Assets/images/scooter-icon.png" alt="Scooter">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="category-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Bike</h4></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Van</h4></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Cars</h4></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Bus</h4></span>
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Content/Assets/images/search-icon-03.png" alt=""><h4>Scooter</h4></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="assets/images/search-icon-03.png" alt=""><h4>Bike</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description for Bikes</h4>
                                                                    <p>If you feel that Plot Listing HTML template is useful, please <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. You are allowed to use this template for your commercial websites. You are NOT allowed to redistribute this template ZIP file on any Free CSS collection websites. You may contact us for more information. Thank you.</p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 200 Listings &amp; 150 Sales<br>This Month: 1,800 Listings &amp; 1,560 Sales<br>This Year: 16,000 Listings &amp; 14,000 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info. about Bikes</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="assets/images/search-icon-03.png" alt=""><h4>Van</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description for Van</h4>
                                                                    <p>Plot Listing template is a responsive website layout that included four HTML pages. Please tell your friends about TemplateMo website. You can download and apply this template for your dynamic CMS websites.</p>
                                                                    <br>
                                                                    <p>
                                                                        <strong>Did you know?</strong>
                                                                        <br>You can get the best free HTML templates on Too CSS blog. Visit the blog pages and explore fresh and latest website templates.
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 124 Listings &amp; 84 Sales<br>This Month: 1,040 Listings &amp; 720 Sales<br>This Year: 10,640 Listings &amp; 9,600 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="assets/images/search-icon-03.png" alt=""><h4>Cars</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description about cars</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 800 Listings &amp; 400 Sales<br>This Month: 1,600 Listings &amp; 1,200 Sales<br>This Year: 14,000 Listings &amp; 12,000 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info. about cars</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="assets/images/search-icon-03.png" alt=""><h4>Bus</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description about Bus</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 150 Listings &amp; 140 Sales<br>This Month: 1,500 Listings &amp; 1,100 Sales<br>This Year: 15,000 Listings &amp; 14,000 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info. for Shopping</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="top-content">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="top-icon">
                                                                        <span class="icon"><img src="assets/images/search-icon-03.png" alt=""><h4>Scooter</h4></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="main-white-button">
                                                                        <a href="#"><i class="fa fa-plus"></i> Check Our Listings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="description">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <h4>Description of Scooter</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="text-icon">
                                                                        <h4><img src="assets/images/listing-icon-heading.png" alt=""> Total Listings</h4>
                                                                    </div>
                                                                    <span class="list-item">This Week: 200 Listings &amp; 120 Sales<br>This Month: 1,400 Listings &amp; 900 Sales<br>This Year: 14,000 Listings &amp; 12,000 Sales</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h4>General Info. about Scooter</h4>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ak incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidat doerski. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                                                    <span class="list-item">
                                                                        * Listing should have all the proper documents before being checked in.
                                                                        <br>** Listing will be checked by our team members.
                                                                        <br>*** After being sold, it should imediately be removed from our site and properly monitored.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

