@model JourneyJoy.Models.TestModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Home", new { }, FormMethod.Post, new { }))
{
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propeller CSS -->
    <link rel="stylesheet" href="css/propeller.min.css">

    <title>Propeller Basic HTML Template</title>
</head>
<body>
    <!--<h1>Hello, world!</h1>-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Propeller js -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/propeller.min.js"></script>-->

    <!-- Primary button with ripple effect -->
    <!--<button class="btn pmd-ripple-effect btn-primary" type="button"> Primary </button>-->

    <!-- Success raised button with ripple effect -->
    <!--<button class="btn pmd-btn-raised pmd-ripple-effect btn-success" type="button">Success</button>-->

    <input type="text" placeholder="Location" id="location" name="Location" />
    <input type="text" placeholder="Time" id="time" name="Time" />
    <button type="submit" id="submitTest"> Submit</button>
</body>
</html>


}
