@{
    ViewBag.Title = "NoPlaceFound";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="four_zero_four_bg">
    <h1 class="text-center ">404</h1>
    <div class="image-container">
        <img src="~/Content/Assets/image/Error/!Location.png" alt="not_found_gif" />
    </div>
</div>
<div class="contant_box_404">
    <h3 class="h2">
        Sorry !
    </h3>
    <p>We couldt find the place you are looking for !</p>
</div>