
@{
    ViewBag.Title = "SomethingWentWrong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SomethingWentWrong</h2>
<p>Your desired Desgine</p>

<div>
    <a href="~/Controllers/HomeController/Index"> @*Example*@
        Back to DashBoard
    </a>
</div>