
@{
    ViewBag.Title = "SomethingWentWrong";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="four_zero_four_bg">
    <h1 class="text-center ">404</h1>
    <div class="image-container">
        <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="not_found_gif" />
    </div>
</div>
<div class="contant_box_404">
    <h3 class="h2">
        Internal Server Error
    </h3>
    <p>Something Went Wrong !</p>
</div>