<div class="grid gap-6">
    <div class="text-[#001118] text-sm font-semibold uppercase">
        Payment Kudasai
    </div>
    <div class="grid grid-cols-3 gap-6">
        <div class="input-field-common w-[272px]">
            <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                Full Name
            </label>
            <input type="text" class="w-full" placeholder="Full Name" name="Full Name" required>
        </div>
        <div class="input-field-common w-[272px]">
            <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                Username
            </label>
            <input type="text" class="w-full" placeholder="Username" name="Username" required>
        </div>
        <div class="input-field-common w-[272px] ">
            <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                Password
            </label>
            <div class="password-input">
                <input type="password" class="w-full pr-8" placeholder="Password" name="Password" required>
                <i class="las la-eye password-eye" onclick="togglePassword()"></i>
            </div>
        </div>
    </div>
</div>