@*CSS*@

<style>
    .image-container {
        display: flex;
        justify-content: flex-start;
        margin-top: -39px;
        margin-bottom: 87px;
        margin-left: 280px; /* Adjust the margin as needed */
    }
</style>

@*NEED TO ADD DATA FROM DATABASE*@

<!--Media, Title, and Action Area -->
<div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth row">
    <!-- Card media-->
    <div class="pmd-card-media col-sm-8">
        <!-- Card media heading -->
        <div class="media-body">
            <h2 class="pmd-card-title-text">Maruti Suzuki Alto</h2>
            <div class="container">
                <div class="row">
                    <!-- Row 1 -->
                    <div class="col-sm-6">
                        <i class="fa-solid fa-gear"></i>
                        Settings
                    </div>
                    <div class="col-sm-6">
                        <i class="fa-solid fa-suitcase-rolling"></i>
                        4
                    </div>
                </div>

                <!--<div class="row">-->
                    <!-- Row 2 -->
                    <!--<div class="col-sm-6">
                        <i class="fa-solid fa-gear"></i>
                        Setting
                    </div>
                    <div class="col-sm-6">
                        <i class="fa-solid fa-suitcase-rolling"></i>
                        Space Capacity
                    </div>
                </div>

                <div class="row">-->
                    <!-- Row 3 -->
                    <!--<div class="col-sm-6">
                        <i class="fa-solid fa-gear"></i>
                        Setting
                    </div>
                    <div class="col-sm-6">
                        <i class="fa-solid fa-suitcase-rolling"></i>
                        Space Capacity
                    </div>
                </div>

                <div class="row">-->
                    <!-- Row 4 -->
                    <!--<div class="col-sm-6">
                        <i class="fa-solid fa-gear"></i>
                        Setting
                    </div>
                    <div class="col-sm-6">
                        <i class="fa-solid fa-suitcase-rolling"></i>
                        Space Capacity
                    </div>
                </div>-->
            </div>
            <span class="pmd-card-subtitle-text">The Maruti Suzuki Alto, a popular compact hatchback, is favored for its agility in urban settings and fuel efficiency. Recognized for its economic appeal, it offers low maintenance costs, making it a budget-friendly choice. With various models, including the Alto 800 and Alto K10, it combines practicality with Maruti Suzuki's reputation for reliability.</span>
        </div>
    </div>
    <!-- Card media image -->
    <div class="mt-3">
        <div class="image-container col-sm-4">
            <img src="~/Content/Assets/image/car/maruti suzuki alto.png" alt="date">
        </div>
    </div>
    
</div>